<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FireChassis.NuGet" version="1.0.1" targetFramework="net45" />
  <package id="Ladders.NuGet" version="1.0.0" targetFramework="net45" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="WaterTank.NuGet" version="1.0.0" targetFramework="net45" />
</packages>